<nav class="navbar navbar-expand-lg bg-light">
    <div class="navbar" id="navbarNavAltMarkup">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/">
                    <img src="pic/home.png" alt="Home" style="height: 2em; margin-left: 5px;">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/employees/add">All Vehicles</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/companies/all">All Cars</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/employees/all">All Buses</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/employees/all">All Trucks</a>
            </li>
            <li class="nav-item">
                <a class="nav-item nav-link text-dark" href="/employees/all">All Motorcycles</a>
            </li>
        </ul>
    </div>
</nav>


