<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}">
</head>
<body class="d-flex flex-column d-flex ">
<div th:replace="~{fragments/navbar}"></div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <main class="jumbotron text-center rounded col-md-4 align-self-center pt-5 rounded creation">
                <div class="justify-content-center">
                    <h1>Brand creation</h1>
                </div>
                <form th:action="@{/brands/create-brand}"
                      th:method="post" th:object="${brandCreationModelAttribute}"
                      class="m-md-auto w-50 pb-3">

                    <div class="mb-3">
                        <label class="form-label" for="name">Brand:</label>
                        <input th:field="*{name}" type="text" class="form-control text-center"
                               id="name" name="name"/>
                        <small th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                               class="text-danger">Error message</small>
                    </div>

                    <h4>
                        <button type="submit" class="btnPostOffer">Post</button>
                    </h4>
                </form>
            </main>
        </div>
    </div>
    </div>
</main>
<footer th:replace="~{fragments/footer}"/>

</body>
</html>