<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head"/>
<body class="d-flex flex-column h-100">
<div th:replace="fragments/navbar">Navbar</div>
<div class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-12 align-self-center pt-5">
                <div class="justify-content-center">
                    <h1>Add Offer</h1>
                </div>
                <form th:action="@{/offers/create-offer}"
                      th:method="post" th:object="${newOffer}"
                      class="m-md-auto w-50 pb-3">

                    <div class="mb-3">
                        <label class="form-label" for="brandSelect">Brand:</label>
                        <select id="brandSelect" name="brandName" th:field="*{brandName}" class="form-control text-center">
                            <option value="" disabled selected hidden>select brand</option>
                            <option th:each="brand : ${Brands}" th:value="${brand.name}" th:text="${brand.name}">Brand</option>
                        </select>
                        <!--                        <small th:if="${#fields.hasErrors('brandName')}" th:errors="*{brandName}" class="text-danger">Error-->
                        <!--                            message</small>-->
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="modelName">Model:</label>
                        <input type="text" class="form-control text-center"
                               id="modelName"  name="modelName" autocomplete="off"/>
                    </div>

                    <div class="mb-3">
                        <label for="engine">Engine:</label>
                        <select id="engine" name="engine" th:field="*{engine}" class="form-control text-center">
                            <option value="" disabled selected hidden>select brand</option>
                            <option th:each="engine : ${Engines}" th:value="${engine}" th:text="${engine}">Engine</option>
                        </select>
                        <!--                        <small th:if="${#fields.hasErrors('engine')}" th:errors="*{engine}" class="text-danger">Error-->
                        <!--                            message</small>-->
                    </div>

                    <div class="mb-3">
                        <label for="transmission">Transmission:</label>
                        <select id="transmission" name="transmission" class="form-control text-center">
                            <!--                                th:errorclass="is-invalid">-->
                            <option value="" disabled selected hidden>select transmission</option>
                            <option th:each="t : ${Transmissions}" th:value="${t}" th:text="${t}">Transmission</option>
                        </select>
                        <!--                        <small th:if="${#fields.hasErrors('transmission')}" th:errors="*{transmission}" class="text-danger">Error-->
                        <!--                            message</small>-->
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="year">Year</label>
                        <input type="number" class="form-control text-center"
                               id="year" aria-describedby="year" name="year" min="1900" max="2023" step="1"/>
                        <!--                        <small th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="text-danger">Error-->
                        <!--                            message</small>-->
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="mileage">Mileage</label>
                        <input type="number" class="form-control text-center"
                               id="mileage" aria-describedby="mileage" name="mileage" min="0" max="1000000" step="1"/>
                        <!--                        <small th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="text-danger">Error-->
                        <!--                            message</small>-->
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="price">Price</label>
                        <input type="number" class="form-control text-center"
                               id="price" aria-describedby="mileage" name="mileage" min="0" max="1000000" step="1"/>
                        <!--                        <small th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="text-danger">Error-->
                        <!--                            message</small>-->
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="imageUrl">Image</label>
                        <input type="file" class="form-control text-center"
                               id="imageUrl" aria-describedby="imageUrl" name="imageUrl"/>
                        <!--                        <small th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="text-danger">Error-->
                        <!--                            message</small>-->
                    </div>

                    <div class="mb-3">
                        <label class="form-label" for="description">Description</label>
                        <textarea class="form-control" placeholder='Enter description...' maxlength='1000'
                                  id="description" aria-describedby="description" name="description"> </textarea>
                        <!--                        <small th:if="${#fields.hasErrors('year')}" th:errors="*{year}" class="text-danger">Error-->
                        <!--                            message</small>-->
                    </div>
                    <button type="submit" class="btn">Register</button>
                    </form>
            </div>
        </div>
    </div>
</div>
<footer th:replace="fragments/footer"/>
</body>
</html>

