<!DOCTYPE html>
<html lang="en" class="h-100" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head}"/>
<body class="d-flex flex-column h-100">
<div th:replace="~{fragments/navbar}"></div>
<main class="flex-shrink-0">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="jumbotron text-center rounded col-md-8 align-self-center pt-5">
                <div th:text="${offers.size() + ' listings found'}" style="font-size: 24px;"></div>
                <div class='row mb-4 d-flex justify-content-around'>
                    <div th:each="o : ${offers}" class="col-md-4 d-flex flex-column bg-text mb-3 rounded offer-item">
                        <h2 th:text=" ${o.year} +' '+ ${o.modelName}"></h2>
                        <h4 th:text="'Brand: ' + ${o.brandName}"></h4>
                        <h4 th:text="'Price: ' + ${o.price}"></h4>
                        <h4 th:text="'Mileage: ' + ${o.mileage}"></h4>
                        <h4><a class="btn-block" th:href="@{/offers/details/{offer-id}(offer-id=${o.id})}">See details</a></h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="~{fragments/footer}"/>
</body>
</html>


<style>
    .offer-item {
        border: 1px solid #000;
        padding: 10px;
        margin: 15px;
    }
    .btn-block {
  display: inline-block;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  border: 2px solid #000;
  color: #000;
  background-color: #fff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.btn-block:hover {
  background-color: #000;
  color: #fff;
}

</style>
